<h2>Designed for Your Success</h2>

    <div class="grid-container">
        
        <div class="grid-item">
            <img width="128" height="128" loading="lazy" src="../assets/icons/benefits/stress-free_accounting.png" alt="Stress-Free Accounting icon">
            <h3>Stress-Free Accounting</h3>
            <p>We handle your finances with precision and care so you can focus on what truly matters—running your business. No more late nights worrying about disorganized books.</p>
        </div>
        
        <div class="grid-item">
            <img width="128" height="128" loading="lazy" src="../assets/icons/benefits/money-saving_strategies.png" alt="Money-Saving Strategies icon">
            <h3>Money-Saving Strategies</h3>
            <p>We dive deep into your financial records to identify overlooked savings opportunities, ensuring your finances work harder for you.
            </p>
        </div>
        
        <div class="grid-item">
            <img width="128" height="128" loading="lazy" src="../assets/icons/benefits/talored_your_business.png" alt="Tailored to Your Business icon">
            <h3>Tailored to Your Business</h3>
            <p>Your business is unique, and so are your financial needs. We offer personalized accounting solutions designed specifically for small and medium-sized businesses.</p>
        </div>
        
        <div class="grid-item">
            <img width="128" height="128" loading="lazy" src="../assets/icons/benefits/error-free_results.png" alt="Error-Free Results icon">
            <h3>Error-Free Results</h3>
            <p>We make sure that every detail is correct. From the preparation of tax returns to the preparation of financial reports, we work meticulously and leave no room for error or compliance issues.</p>
        </div>
        
        <div class="grid-item">
            <img width="128" height="128" loading="lazy" src="../assets/icons/benefits/organized_finances.png" alt="Organized Finances icon">
            <h3>Organized Finances</h3>
            <p>Say goodbye to financial chaos. We sort, track, and maintain your records, creating a clear picture of your business's financial health.</p>
        </div>
        
        <div class="grid-item">
            <img width="128" height="128" loading="lazy" src="../assets/icons/benefits/time-saving.png" alt="Time-Saving Convenience icon">
            <h3>Time-Saving Convenience</h3>
            <p>Spend less time on accounting and more time growing your business. We streamline processes to make managing finances effortless for you.</p>
        </div>
        
        <!-- <div class="grid-item">
            <img width="128" height="128" loading="lazy" src="../assets/icons/benefits/proactive_tax_planning.png" alt="Proactive Tax Planning icon">
            <h3>Proactive Tax Planning</h3>
            <p>Avoid surprises during tax season. With year-round planning, we help you prepare for what's ahead and make informed financial decisions.</p>
        </div> -->
        
        <div class="grid-item">
            <img width="128" height="128" loading="lazy" src="../assets/icons/benefits/support_beyond_numbers.png" alt="Support Beyond Numbers icon">
            <h3>Support Beyond Numbers</h3>
            <p>We're more than accountants — we're partners. Whether you're launching a startup or scaling your business, we're here to help every step of the way.</p>
        </div>

        <div class="grid-item">
            <img width="128" height="128" loading="lazy" src="../assets/icons/benefits/clear_communication.png" alt="Clear Communication icon">
            <h3>Clear Communication</h3>
            <p>We speak your language — no confusing jargon. Our team is always here to answer your questions and explain every step of the process.</p>
        </div>
    
    </div>