<div class="flex flex-column f-center">
    <div>
        <div class="little-title">
            <span></span>
            <p>Quality</p>
            <span></span>
        </div>
        <h2>Complete Core Accounting pricing</h2>
    </div>
    <div class="flex">
        <div class="flex flex-column f-center">
            <img src="../assets/icons/core-pricing_monthly.png" alt="">
            <h3>Monthly</h3>
            <p>For companies that require monthly bookkeeping and VAT returns</p>

            <ul>
                <li>Accounting</li>
                <li>VAT return</li>
            </ul>
            
            <div class="price">
                <p>from <span>75€</span></p>
                <p>+ Hourly rate <strong>75€</strong><span>applied immediately</span></p>
            </div>

            <p>+ plus 19% VAT</p>

        </div>
        
        <div class="flex flex-column f-center">
            <img src="../assets/icons/core-pricing_quarterly.png" alt="">
            <h3>Quarterly</h3>
            <p>Ideal für Unternehmen, die alle 3 Monate ihre Finanzen verwalten</p>

            <ul>
                <li>Accounting</li>
                <li>VAT return</li>
            </ul>
            
            <div class="price">
                <p>from <span>150€</span></p>
                <p>+ Hourly rate <strong>75€</strong><span>applied immediately</span></p>
            </div>

            <p>+ plus 19% VAT</p>

        </div>

        <div class="flex flex-column f-center">
            <img src="../assets/icons/core-pricing_yearly.png" alt="">
            <h3>Yearly</h3>
            <p>Für Unternehmen, die alles auf einmal einreichen - sparen Sie am meisten!</p>

            <ul>
                <li>Accounting</li>
                <li>VAT return</li>
                <li>Tax return preparation</li>
            </ul>
           
            <div class="price">
                <p>from <span>600€</span></p>
                <p>+ Hourly rate <strong>75€</strong><span>starts after 8 hours of work</span></p>
            </div>

            <p>+ plus 19% VAT</p>
        </div>
    </div>

    <div>
        <h3>Kostenlose erste 30 Minuten Beratung</h3>
    </div>
</div>