<h2>Frequently asked questions</h2>

<div class="accordion-contain">
    <button class="accordion">How can I make an appointment?</button>
    <div class="panel">
      <p>Sie können einen Termin über das Kontaktformular vereinbaren oder uns telefonisch kontaktieren. Unsere Kontaktdaten finden Sie in der Fußzeile oder auf unserer Kontaktseite.</p>
    </div>
    
    <button class="accordion">What can I expect from the first consultation?</button>
    <div class="panel">
        <p>The first consultation is all about understanding your needs and setting the foundation for a stress-free accounting journey. We'll start with an open conversation to discuss your current accounting situation, identify any immediate issues, and understand the challenges you're facing. This is your opportunity to share your goals and concerns, so we can tailor our approach to meet your needs.</p>

        <p>To make the process as seamless as possible, we’ll provide you with a detailed checklist of all the documents we’ll need from you. This checklist is designed to simplify the process and ensure nothing is overlooked. We’ll walk you through everything step by step, explaining what’s required and why, so you can feel confident and fully supported from the very beginning.</p>
    </div>
    
    <button class="accordion">Can XPAYTAX help with tax returns?</button>
    <div class="panel">
      <p>We offer comprehensive support in the preparation of your tax return.</p>
    </div>

    <button class="accordion">Does XPAYTAX also offer online services?</button>
    <div class="panel">
      <p>Yes, we also offer online services to provide our customers with maximum flexibility.</p>
    </div>

    <button class="accordion">How will we communicate, and how often?</button>
    <div class="panel">
      <p>Our first consultation can take place over the phone or via a video call, ensuring we understand your needs from the start. Once we decide to work together, we recommend meeting in person, when possible, to establish a strong, personal connection.</p>
      <p>For ongoing communication, we use flexible methods such as mobile phones or messaging platforms like WhatsApp, prioritizing what’s easiest for you. We’ll communicate as often as necessary to ensure your finances are in order and you feel fully supported.</p>
    </div>
</div>