<div class="flex flex-column f-center">
    <div>
        <div class="little-title">
            <span></span>
            <p>Qualität</p>
            <span></span>
        </div>
        <h2>Vollständige Preise für Allgemeine Buchhaltung</h2>
    </div>
    <div class="flex">
        <div class="flex flex-column f-center">
            <img src="assets/icons/core-pricing_monthly.png" alt="">
            <h3>Monatlich</h3>
            <p>Für Unternehmen, die monatliche Buchhaltung und Umsatzsteuer&shy;foranmeldung benötigen</p>

            <ul>
                <li>Buchhaltung </li>
                <li>Umsatzsteuer­foran&shy;mel&shy;dung</li>
            </ul>
            
            <div class="price">
                <p>ab <span>75€</span></p>
                <p>+ Stundensatz <strong>75€</strong><span>sofort angewandt</span></p>
            </div>

            <p>+ zzgl. 19% MwSt.</p>

        </div>
        
        <div class="flex flex-column f-center">
            <img src="assets/icons/core-pricing_quarterly.png" alt="">
            <h3>Quartalsweise</h3>
            <p>Ideal für Unternehmen, die alle 3 Monate ihre Finanzen verwalten</p>

            <ul>
                <li>Buchhaltung </li>
                <li>Umsatzsteuer­foran&shy;mel&shy;dung</li>
            </ul>
            
            <div class="price">
                <p>ab <span>150€</span></p>
                <p>+ Stundensatz <strong>75€</strong><span>sofort angewandt</span></p>
            </div>

            <p>+ zzgl. 19% MwSt.</p>

        </div>

        <div class="flex flex-column f-center">
            <img src="assets/icons/core-pricing_yearly.png" alt="">
            <h3>Jährlich</h3>
            <p>Für Unternehmen, die alles auf einmal einreichen - sparen Sie am meisten!</p>

            <ul>
                <li>Buchhaltung </li>
                <li>Umsatzsteuer­foran&shy;mel&shy;dung</li>
                <li>Vorbereitung der Steuer&shy;erklärung</li>
            </ul>
           
            <div class="price">
                <p>ab <span>600€</span></p>
                <p>+ Stundensatz <strong>75€</strong><span>beginnt nach 8 Stunden Arbeit</span></p>
            </div>

            <p>+ zzgl. 19% MwSt.</p>
        </div>
    </div>

    <div>
        <h3>Kostenlose erste 30 Minuten Beratung</h3>
    </div>
</div>