<h2>Bewertungen von unseren Kunden</h2>

<div class="carousel">
    <div class="carousel-item">
        <p class="testimonial">XPAYTAX hat unsere Buchhaltung auf Vordermann gebracht. Die Professionalität und Genauigkeit, die sie an den Tag legen, sind einfach beeindruckend. Vielen Dank für den großartigen Service!</p>
        <div class="rating">★★★★★</div>
        <div class="client-info">
            <p>tayfunrecruitment</p>
        </div>
    </div>

    <div class="carousel-item">
        <p class="testimonial">Die Beratung bei XPAYTAX ist erstklassig. Sie haben uns nicht nur geholfen, unsere Steuern zu optimieren, sondern auch wertvolle Tipps gegeben, um unser Geschäft effizienter zu führen.</p>
        <div class="rating">★★★★★</div>
        <div class="client-info">
            <p>Stadt Energievertrieb24 UG</p>
        </div>
    </div>

    <div class="carousel-item">
        <p class="testimonial">Ich schätze besonders die Zuverlässigkeit und Schnelligkeit von XPAYTAX. Unsere Lohn- und Gehaltsabrechnungen sind immer pünktlich und korrekt. Ein erstklassiger Service!</p>
        <div class="rating">★★★★★</div>
        <div class="client-info">
            <p>tayRec GmbH</p>
        </div>
    </div>

</div>
